/*Universal styling setting the display, padding, margin, font family and style as well box sizing. */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    display: block;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: italic;
}

body {
    background-color: #f1969e;
}


header {
    font-size: 75px;
    font-style: italic;
    color: rgb(34, 0, 78);
    float: center;
    text-align: center;
    border: rgb(34, 0, 78);
    border-style: double;
    border-width: thick;
    background-color: lavenderblush;
}

a {
    padding: 15px 15px 25px 15px;
    display: block;
    text-align: center;
    font-size: 20px;
}

#portrait {
    -webkit-box-reflect: right;
    margin-left: 100px;
}

#photo1 {
    object-fit: contain;
    width: 1100px;
    height: 1000px;
    
}

#photo2 {
    object-fit: contain;
    width: 900px;
    height: 800px;
    
}

#photo3 {
    object-fit: contain;
    width: 800px;
    height: 700px;
    
}

p {
    font-size: 20px;
    flex-flow: wrap;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 25px;
    margin-bottom: 25px;
    
}

h1 {
    text-align: center;
    text-decoration: black underline;
    font-size: 50px;
    padding-top: 30px;
    border: black;
    border-style: solid;
    background-color: lavenderblush;
    float: center;
}

#flex-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px 5px 5px 5px;
}

.headers {
    padding-top: 50px;
    padding-bottom: 0px;
    text-decoration: underline;
    float: center;
}

footer {
    font-size: 15px;
    padding: 25px;
    clear: both;
    text-align: left;
}

footer h5 {
    border: black;
    border-style: solid;
    background-color: lavenderblush;
    font-size: 18px;
    text-align: center;
}

/*Insert media queries for tablet and smartphone sizing. */

@media screen and (max-width: 992px) {
    body {
      background-color: lightskyblue;
      flex-flow: column;
      display: flex;
      align-items: center;
      text-align: center;
    }
    #portrait {
        -webkit-box-reflect: right;
        margin-left: 0px;
    }
}    

@media screen and (max-width: 768px) {
    body {
      background-color: lightgreen;
      flex-flow: wrap;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
}


